<div>
  <form>
    <p>Enter username you would like to have below</p>
    <input name="username" [(ngModel)]="username" required type="text" />
    <p>Enter your e-mail below</p>
    <input name="email" [(ngModel)]="email" required type="text" />
    <p>Enter password you would like to have below</p>
    <input name="password" [(ngModel)]="password" required type="password" /><br><br>
    <button (click)="this.registrationService.registerUser(username, email, password)">Confirm</button>
  </form>
  <div name="registrationResultDiv">
    <p *ngIf="this.registrationService.responseStatus==200">Registration successful.</p>
    <p *ngIf="this.registrationService.responseStatus==400">Registration unsuccessful.</p>
  </div>
</div>